* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-item {
  background-color: red;
}
.container {
  height: 300px;
  width: 300px;
  /* background-color: blue; */
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 20% 60% 20%;
  grid-template-areas:
    "a b b"
    "a d c"
    "e e c";
  gap: 1px;
}

.container .grid-item:nth-child(3) {
  grid-area: b;
}
.container .grid-item:nth-child(4) {
  grid-area: a;
}
.container .grid-item:nth-child(8) {
  grid-area: e;
}
.container .grid-item:nth-child(9) {
  grid-area: c;
}
